SOAP/PersonSoapImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pro.service.soap.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://pro.service.soap.com" xmlns:intf="http://pro.service.soap.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://pro.service.soap.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAllPersons">
    <complexType/>
   </element>
   <element name="getAllPersonsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllPersonsReturn" type="impl:Person"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Person">
    <sequence>
     <element name="age" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="qualification" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="initializeProductCatalog">
    <complexType/>
   </element>
   <element name="initializeProductCatalogResponse">
    <complexType/>
   </element>
   <element name="searchByAge">
    <complexType>
     <sequence>
      <element name="age" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchByAgeResponse">
    <complexType>
     <sequence>
      <element name="searchByAgeReturn" type="impl:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertPerson">
    <complexType>
     <sequence>
      <element name="person" type="impl:Person"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertPersonResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="initializeProductCatalogRequest">

      <wsdl:part element="impl:initializeProductCatalog" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="initializeProductCatalogResponse">

      <wsdl:part element="impl:initializeProductCatalogResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchByAgeResponse">

      <wsdl:part element="impl:searchByAgeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllPersonsRequest">

      <wsdl:part element="impl:getAllPersons" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllPersonsResponse">

      <wsdl:part element="impl:getAllPersonsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertPersonResponse">

      <wsdl:part element="impl:insertPersonResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertPersonRequest">

      <wsdl:part element="impl:insertPerson" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchByAgeRequest">

      <wsdl:part element="impl:searchByAge" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PersonSoapImpl">

      <wsdl:operation name="getAllPersons">

         <wsdl:input message="impl:getAllPersonsRequest" name="getAllPersonsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllPersonsResponse" name="getAllPersonsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="initializeProductCatalog">

         <wsdl:input message="impl:initializeProductCatalogRequest" name="initializeProductCatalogRequest">

       </wsdl:input>

         <wsdl:output message="impl:initializeProductCatalogResponse" name="initializeProductCatalogResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchByAge">

         <wsdl:input message="impl:searchByAgeRequest" name="searchByAgeRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchByAgeResponse" name="searchByAgeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertPerson">

         <wsdl:input message="impl:insertPersonRequest" name="insertPersonRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertPersonResponse" name="insertPersonResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PersonSoapImplSoapBinding" type="impl:PersonSoapImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllPersons">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllPersonsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllPersonsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="initializeProductCatalog">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="initializeProductCatalogRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="initializeProductCatalogResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchByAge">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchByAgeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchByAgeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insertPerson">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertPersonRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertPersonResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PersonSoapImplService">

      <wsdl:port binding="impl:PersonSoapImplSoapBinding" name="PersonSoapImpl">

         <wsdlsoap:address location="http://localhost:8087/SoapServiceProject/services/PersonSoapImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
